<!DOCTYPE html>
<html>
<head>
  <title>Google Translate API by Stezar Priansya</title>
</head>
<body>
  <from action="./submit-translate" method="get">
    Kata-kata : <textarea name="word"> </textarea>
    Hasil : <textarea name="hasil" > <% if(this.result){ %> <%= result['translatedText'] %> <% } %>  </textarea>
    <input type="submit" value="translate now!">
  </form>
</body>
</html>
