<!DOCTYPE html>
<html>
<head>
  <title>Google Translate API by Stezar Priansya</title>
</head>
<body>
  <form action="/submit-translate" method="get">
    Kata-kata : <textarea name="word"></textarea><br/>
    Hasil : <textarea name="hasil" ><% if(this.result){ %> <%= result['translatedText'] %> <% } %></textarea><br/>
    <input type="submit" value="translate now!">
  </form>
</body>
</html>
