<!DOCTYPE html>
<html>
<head>
  <title>Google Translate API by Stezar Priansya</title>
</head>
<body>
  <from action="submit-translate" method="get">
    Kata-kata : <input type="text" name="word">
    Hasil : <input type="text" name="hasil" value="<%= result['translatedText'] %>">
    <input type="submit" value="translate now!">
  </form>
</body>
</html>
